body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

#confetti-bg {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.tarjeta {
  position: relative;
  z-index: 2;
  max-width: 600px;
  margin: auto;
  margin-top: 5vh;
  padding: 2rem;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

nav {
  margin-bottom: 1.5rem;
}

nav button {
  background-color: #f04e4e;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button {
  background-color: #f04e4e;
  color: white;
  padding: 10px 16px;
  margin: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.pantalla {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

.pantalla.activa {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.foto-opcion {
  margin: 1rem 0;
}

.foto-opcion img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.comentario {
  font-style: italic;
  margin-top: 0.5rem;
}

.qr img {
  width: 150px;
  margin-top: 15px;
}

.mapa-ubicacion {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden; /* esto redondea las esquinas del iframe */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.mapa-ubicacion iframe {
  width: 100%;
  height: 300px;
  display: block;
  border: none;
}
